# Keep ignoring Dart/Flutter development files
.dart_tool/
.packages

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Environment variables
.env*

# Flutter/Dart/Pub related
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE / editor folders
.idea/
*.iml
*.ipr
*.iws
#.vscode/

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Dartdoc output
doc/api/
**/doc/api/
**/ios/Flutter/.last_build_id

# --- Web deployment files should NOT be ignored ---
# *.dart.js
# *.js
# *.js_
# *.js.deps
# *.js.map
# app.*.symbols
# app.*.map.json
